<manifest package="com.uber.okbuck.example.test"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <application />

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.uber.okbuck.example.demo.debug" />

</manifest>
