<manifest package="com.github.okbuilds.okbuck.example.test"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <application />

    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.github.okbuilds.okbuck.example.demo.debug" />

</manifest>
