.gradle
local.properties
.DS_Store
**build
captures

**.iml
.idea
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml

buck-out
.buckd
.okbuck
.buckconfig.local
**/BUCK

buildSrc/bintray.properties

3rdparty
