<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.uber.okbuck.example"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MainApp">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
